include ./pug/mixins/owl-itm.pug

<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        meta(name="theme-color" content="#FFDE5D")
        meta(name="msapplication-navbutton-color" content="#FFDE5D")
        meta(name="apple-mobile-web-app-status-bar-style" content="#FFDE5D")
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400 &display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Caveat:400,700&display=swap" rel="stylesheet">
        title Madallion
    body
        .page
            .header
                .header__headline-wrapper
                    h1.header__headline
                        span.header__span таксидермическая студия
                        br
                        | medallion



            section.about-option
                .about-option__text
                    .about-option__text1
                    .about-option__text2
                .about-option__knife
                .about-option__content
                    h3.about-option__headeline Здравствуйте
                    .line
                    p   Меня зовут Гоголев Андрей Иванович. По специальности я биолог. Окончил Термезский Государственный университет, работал в Термезском зоопарке, заведовал отделом рептилий. Таксидермией и резьбой по дереву занимаюсь с 1992  года. Много работал над трофеями из Средней Азии.
                    p   Очень привлекает работа над медальонами для охотничьих трофеев.
                    p   Каждый медальон разрабатывается индивидуально, с учетом размеров трофея и пожеланий заказчика. Покрытие восковой мастикой. Цветовые вариации, орнаментальные и этнические композиции и размеры изделия также прорабатываются по индивидуальным требованиям.
                    p   Также интересно могут быть представлены работы, представляющие сочетание таксидермии и резьбы, оформление деталей интерьера включающих такие элементы, как рога, копыта, клыки и т.п.
                    p   Приглашаю к сотрудничеству мастеров таксидермистов, салоны таксидермии, принимаю заказы от частных лиц на медальоны и сложные резные композиции из дерева и природных материалов.
                    p   Срок изготовления медальона от нескольких дней до 2-х месяцев в зависимости от сложности работы. При необходимости выполнения заказа к определенной дате (подарок ко дню рождения, юбилей и т.п.) пожелания заказчика принимаются во внимание.



            section.section.madallions
                h2.madallions__headline медальоны
                .line
                .madallions__owl-wrapper.owl-wrapper
                    .owl-carousel.owl-theme.madallions__owl-carousel
                        +owl-itm({

                            imgName: 'Img_Md001_JPG',
                            description: 'Медальон под клыки кабана',
                        })
                        +owl-itm({

                            imgName: 'Img_Md002_JPG',
                            description: 'Медальон под клыки кабана',
                        })
                        +owl-itm({

                            imgName: 'Img_Md008_JPG',
                            description: 'Медальон под кабанью голову',
                        })
                        +owl-itm({

                            imgName: 'Img_Md010_JPG',
                            description: 'Медальон под рога косули',
                        })
                        +owl-itm({

                            imgName: 'Img_Md011_JPG',
                            description: 'Медальон под рога пятнистого оленя',
                        })
                        +owl-itm({

                            imgName: 'Img_Md014_JPG',
                            description: 'Медальон под рога Дагестанского тура',
                        })
                        +owl-itm({

                            imgName: 'Img_Md015_JPG',
                            description: 'Медальон под клыки кабана',
                        })
                        +owl-itm({

                            imgName: 'Img_Md018_JPG',
                            description: 'Медальон под рога лани',
                        })
                        +owl-itm({

                            imgName: 'Img_Md020_JPG',
                            description: 'Медальон под рога лося',
                        })
                        +owl-itm({

                            imgName: 'Img_Md022_JPG',
                            description: 'Медальон под рога северного оленя',
                        })
                        +owl-itm({

                            imgName: 'Img_Md023_JPG',
                            description: 'Фрагмент медальона под рога северного оленя',
                        })
                        +owl-itm({

                            imgName: 'Img_Md025_JPG',
                            description: 'Медальон под рога благородного оленя',
                        })
                        +owl-itm({

                            imgName: 'Img_Md027_JPG',
                            description: 'Фрагмент медальона под рога благородного оленя',
                        })
                        +owl-itm({

                            imgName: 'Img_Md029_JPG',
                            description: 'Медальон под рога благородного оленя',
                        })
                        +owl-itm({

                            imgName: 'Img_Md030_JPG',
                            description: 'Фрагмент медальона под рога благородного оленя',
                        })
                        +owl-itm({

                            imgName: 'Img_Md032_JPG',
                            description: 'Медальон под кабанью голову',
                        })
                        +owl-itm({

                            imgName: 'Img_Md034_JPG',
                            description: 'Фрагмент медальона под кабанью голову',
                        })
                        +owl-itm({

                            imgName: 'Img_Md037_JPG',
                            description: 'Медальон под клыки кабана',
                        })
                        +owl-itm({

                            imgName: 'Img_Md038_JPG',
                            description: 'Медальон под клыки кабана',
                        })
                        +owl-itm({

                            imgName: 'Img_Md039_JPG',
                            description: 'Фрагмент медальона под клыки кабана',
                        })
                        +owl-itm({

                            imgName: 'Img_Md040_JPG',
                            description: 'Медальон под клыки кабана',
                        })
                        +owl-itm({

                            imgName: 'Img_Md041_JPG',
                            description: 'Медальон под рога камчатского лося',
                        })
                        +owl-itm({

                            imgName: 'Img_Md043_JPG',
                            description: 'Медальон под рога лани',
                        })
                        +owl-itm({

                            imgName: 'Img_Md044_JPG',
                            description: 'Медальон под рога сибирской косули',
                        })
                        +owl-itm({

                            imgName: 'Img_Md046_JPG',
                            description: 'Медальон под голову пятнистого оленя',
                        })
                        +owl-itm({

                            imgName: 'Img_Md050_JPG',
                            description: 'Медальон под голову антилопы гну',
                        })
                        +owl-itm({

                            imgName: 'Img_Md058_JPG',
                            description: 'Медальон под голову благородного оленя',
                        })
                        +owl-itm({

                            imgName: 'Img_Md059_JPG',
                            description: 'Медальон под рога антилопы',
                        })
                        +owl-itm({

                            imgName: 'Img_Md060_JPG',
                            description: 'Медальон под голову оленя',
                        })
                        +owl-itm({

                            imgName: 'Img_Md062_JPG',
                            description: 'Медальон под голову оленя',
                        })
                        +owl-itm({

                            imgName: 'Img_Md064_JPG',
                            description: 'Медальон под голову оленя',
                        })
                        +owl-itm({

                            imgName: 'Img_Md065_JPG',
                            description: 'Медальон под голову оленя',
                        })
                        +owl-itm({

                            imgName: 'Img_Md066_JPG',
                            description: 'Медальон под голову оленя',
                        })
                        +owl-itm({

                            imgName: 'Img_Md067_JPG',
                            description: 'Медальон под голову оленя',
                        })
                        +owl-itm({

                            imgName: 'Img_Md068_JPG',
                            description: 'Медальон под клыки кабана',
                        })
                        +owl-itm({

                            imgName: 'Img_Md069_JPG',
                            description: 'Медальон под клыки кабана',
                        })
                        +owl-itm({

                            imgName: 'Img_Md070_JPG',
                            description: 'Медальон под клыки кабана',
                        })
                        +owl-itm({

                            imgName: 'Img_Md071_JPG',
                            description: 'Медальон под клыки кабана',
                        })


            section.section.trophy-medallions
                h2.trophy-medallions__headline Медальоны с трофеями
                .line
                .trophy-medallions__owl-wrapper.owl-wrapper
                    .owl-carousel.owl-theme.trophy-medallions__owl-carousel
                        +owl-itm({

                            imgName: 'Img_T002_JPG',
                            description: 'Рога благородного оленя',
                        })
                        +owl-itm({

                            imgName: 'Img_T040_JPG',
                            description: 'Лиса патрикеевна',
                        })
                        +owl-itm({

                            imgName: 'Img_T039_JPG',
                            description: 'Лиса патрикеевна',
                        })
                        +owl-itm({

                            imgName: 'Img_T038_JPG',
                            description: 'Косуля',
                        })
                        +owl-itm({

                            imgName: 'Img_T009_JPG',
                            description: 'Голова кабана',
                        })
                        +owl-itm({

                            imgName: 'Img_T012_JPG',
                            description: 'Кабаньи клыки',
                        })
                        +owl-itm({

                            imgName: 'Img_T013_JPG',
                            description: 'Фрагмент резьбы',
                        })
                        +owl-itm({

                            imgName: 'Img_T015_JPG',
                            description: 'Фрагмент композиции',
                        })
                        +owl-itm({

                            imgName: 'Img_T018_JPG',
                            description: 'Филин на охоте',
                        })
                        +owl-itm({

                            imgName: 'Img_T021_JPG',
                            description: 'Рога косули',
                        })
                        +owl-itm({

                            imgName: 'Img_T024_JPG',
                            description: 'Рога благородного оленя',
                        })
                        +owl-itm({

                            imgName: 'Img_T026_JPG',
                            description: 'Фрагмент композиции',
                        })
                        +owl-itm({

                            imgName: 'Img_T028_JPG',
                            description: 'Рога благородного оленя',
                        })
                        +owl-itm({

                            imgName: 'Img_T030_JPG',
                            description: 'Голова кабана с клыками',
                        })
                        +owl-itm({

                            imgName: 'Img_T032_JPG',
                            description: 'Голова кабана',
                        })
                        +owl-itm({

                            imgName: 'Img_T035_JPG',
                            description: 'Косуля',
                        })
                        +owl-itm({

                            imgName: 'Img_T047_JPG',
                            description: 'Рога косули',
                        })
                        +owl-itm({

                            imgName: 'Img_T050_JPG',
                            description: 'Рога антилопы',
                        })
                        +owl-itm({

                            imgName: 'Img_T049_JPG',
                            description: 'Подставка с рогами антилопы',
                        })
                        +owl-itm({

                            imgName: 'Img_T052_JPG',
                            description: 'Рога антилопы Гну',
                        })
                        +owl-itm({

                            imgName: 'Img_T053_JPG',
                            description: 'Клыки кабана',
                        })


            section.section.thread-and-taxidermy
                h2.thread-and-taxidermy__headline Сочетание резьбы
                                                  br
                                                  |и таксидермии
                .line
                .thread-and-taxidermy__owl-wrapper.owl-wrapper
                    .owl-carousel.owl-theme.thread-and-taxidermy__owl-carousel
                        +owl-itm({

                            imgName: 'Img_S001_JPG',
                            description: 'Сова на пне',
                        })
                        +owl-itm({

                            imgName: 'Img_S003_JPG',
                            description: 'Лиса и виноград',
                        })
                        +owl-itm({

                            imgName: 'Img_S004_JPG',
                            description: 'Лиса и виноград',
                        })
                        +owl-itm({

                            imgName: 'Img_S043_JPG',
                            description: 'Косуля',
                        })
                        +owl-itm({

                            imgName: 'Img_S006_JPG',
                            description: 'Сова с книгой',
                        })
                        +owl-itm({

                            imgName: 'Img_S008_JPG',
                            description: 'Ученая сова',
                        })
                        +owl-itm({

                            imgName: 'Img_S041_JPG',
                            description: 'Барсучок',
                        })
                        +owl-itm({

                            imgName: 'Img_S042_JPG',
                            description: 'Фрагмент резьбы',
                        })
                        +owl-itm({

                            imgName: 'Img_S045_JPG',
                            description: 'Лиса и виноград',
                        })


            section.section.carved-home-decoration
                h2.carved-home-decoration__headline Резные предметы интерьера
                .line
                .carved-home-decoration__owl-wrapper.owl-wrapper
                    .owl-carousel.owl-theme.carved-home-decoration__owl-carousel
                        +owl-itm({

                            imgName: 'Img_R001_JPG',
                            description: 'Часы "Гроздь"',
                        })
                        +owl-itm({

                            imgName: 'Img_R006_JPG',
                            description: 'Барометр "Кабаны"',
                        })
                        +owl-itm({

                            imgName: 'Img_R007_JPG',
                            description: 'Генеалогическое древо',
                        })
                        +owl-itm({

                            imgName: 'Img_R012_JPG',
                            description: 'Зеркало олень',
                        })
                        +owl-itm({

                            imgName: 'Img_R013_JPG',
                            description: 'Часы в роге с резьбой',
                        })
                        +owl-itm({

                            imgName: 'Img_R014_JPG',
                            description: 'Фрагмент гравировки по рогу',
                        })
                        +owl-itm({

                            imgName: 'Img_R015_JPG',
                            description: 'Тарелка филин',
                        })
                        +owl-itm({

                            imgName: 'Img_R016_JPG',
                            description: 'Тарелка рыба',
                        })
                        +owl-itm({

                            imgName: 'Img_R021_JPG',
                            description: 'Часы кабан',
                        })
                        +owl-itm({

                            imgName: 'Img_R022_JPG',
                            description: 'Тарелка самовар',
                        })
                        +owl-itm({

                            imgName: 'Img_R023_JPG',
                            description: 'Тарелка самовар',
                        })

            section.section.carving-and-natural-materials
                h2.carving-and-natural-materials__headline Сочетание резьбы
                                                           br
                                                           |и природных материалов
                .line
                .carving-and-natural-materials__owl-wrapper.owl-wrapper
                    .owl-carousel.owl-theme.carving-and-natural-materials__owl-carousel
                        +owl-itm({

                            imgName: 'Img_Mb001_JPG',
                            description: 'Стол и стулья (отделка кожей питона)',
                        })
                        +owl-itm({

                            imgName: 'Img_Mb002_JPG',
                            description: 'Вешалка (копыта косули)',
                        })
                        +owl-itm({

                            imgName: 'Img_Mb004_JPG',
                            description: 'Стол "Лесовичок"',
                        })
                        +owl-itm({

                            imgName: 'Img_Mb006_JPG',
                            description: 'Фрагмент резьбы',
                        })
                        +owl-itm({

                            imgName: 'Img_Mb008_JPG',
                            description: 'Стол из оленьих рогов',
                        })
                        +owl-itm({

                            imgName: 'Img_Mb009_JPG',
                            description: 'Светильник и стол из оленьих рогов',
                        })
                        +owl-itm({

                            imgName: 'Img_Mb010_JPG',
                            description: 'Светильник и стол из оленьих рогов',
                        })



            section.section.fixtures
                h2.fixtures__headline Светильники
                .line
                .fixtures__owl-wrapper.owl-wrapper
                    .owl-carousel.owl-theme.fixtures__owl-carousel
                        +owl-itm({

                            imgName: 'Img_Sv001_JPG',
                            description: 'Настольный светильник',
                        })
                        +owl-itm({

                            imgName: 'Img_Sv002_JPG',
                            description: 'Настенный светильник',
                        })
                        +owl-itm({

                            imgName: 'Img_Sv003_JPG',
                            description: 'Подсвечник',
                        })
                        +owl-itm({

                            imgName: 'Img_Sv004_JPG',
                            description: 'Настенный светильник',
                        })
                        +owl-itm({

                            imgName: 'Img_Sv007_JPG',
                            description: 'Настенный светильник',
                        })


            section.contact
                h2.contact__headline Написать мне
                form.contact__form

                        <!-- Hidden Required Fields -->
                        input(type="hidden" name="project_name" value="Madallion")
                        input(type="hidden" name="admin_email" value="anna-kraft80@mail.ru")
                        input(type="hidden" name="form_subject" value="Письмо с сайта 'Madallion'")
                        <!-- END Hidden Required Fields -->

                        input(type="text" name="Имя" required placeholder="Ваше имя")
                        input(type="text" name="Email" required placeholder="Email")
                        input(type="text" name="Телефон" placeholder="Телефон")
                        textarea(name="Сообщение" required placeholder="Сообщение...")
                        input(type="submit" value="Отправить")



            footer.footer
                .footer__logo
                    .footer__wrapper
                        span m
                    .footer__wrapper
                        span e
                    .footer__wrapper
                        span d
                    .footer__wrapper
                        span a
                    .footer__wrapper
                        span l
                    .footer__wrapper
                        span l
                    .footer__wrapper
                        span i
                    .footer__wrapper
                        span o
                    .footer__wrapper
                        span n
                p.footer__email anna-kraft80@mail.ru
                p.footer__tel +7 920 217 16 96

            script(src="https://code.jquery.com/jquery-1.12.4.js")
