<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400 &display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap rel="stylesheet">
        title Document
    body
        .page
            .header
                .header__headline-wrapper
                    h1.header__headline
                        span.header__span таксидермическая студия
                        br
                        | medallion


            section.about
                    .about__section1.section
                        img(src=require("./img/Andrey.jpg"), alt="Гоголев Андрей Иванович")
                    .about__section2.section
                        h3.about__headeline Здравствуйте
                        p Меня зовут Гоголев Андрей Иванович. По специальности я биолог.
                            |Окончил Термезский Государственный университет, работал в Термезском зоопарке,
                            |заведовал отделом рептилий. Таксидермией и резьбой по дереву занимаюсь с
                            |1992 года.
                            |Много работал над
                            |трофеями из Средней Азии
                    .about__section3.section
                        p Очень привлекает работа над медальонами для охотничьих трофеев

                    .about__section4.section
                        p Каждый медальон разрабатывается индивидуально, с учетом размеров трофея и
                            |пожеланий заказчика. Покрытие восковой мастикой. Цветовые вариации,
                            |орнаментальные и
                            |этнические композиции и размеры изделия также прорабатываются по индивидуальным
                            |требованиям
                    .about__section5.section
                        p Также интересно могут быть представлены работы, представляющие сочетание 
                            |таксидермии и
                            |резьбы, оформление деталей интерьера включающих такие элементы, как рога,
                            |копыта, клыки и т.п
                    .about__section6.section
                        p Приглашаю к сотрудничеству мастеров таксидермистов, салоны таксидермии,
                            |принимаю заказы от частных лиц на медальоны и сложные резные композиции из
                            |дерева и природных материалов
                    .about__section7.section
                        p Срок изготовления медальона от нескольких дней до 2-х месяцев
                            |в зависимости от сложности работы. При необходимости выполнения заказа к
                            |определенной дате (подарок ко дню рождения, юбилей и т.п.) пожелания
                            |заказчика
                            |принимаются во внимание
                    .about__section8.section
                    .about__section9.section
                    .about__section10.section
