* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    max-width: $max-width;
    width: 100%;
    margin: 0 auto;
    font-size: $font-size;
    line-height: $line-height;
    font-family: $mainFont;
}


h1, h2, h3, h4, h5, h6 {
    line-height: $headline-line-height;
}

// div, p, h1, h2, h3, h4, h5, h6 {
//     outline: 1px solid green;
// }
